<div class="conditions-generales">
    <div class="checkbox checked" style="display: inline-block; margin-right: 10px; margin-bottom: 15px;"></div>
    <span style="font-size: 10px;">Je certifie avoir lu et accepté les conditions générales de la société France Patrimoine EMC.</span>
</div>