<div class="footer">
    RCS CRETEIL 878 637 859 - CODE APE 70227 - TVA INTRACOMMUNAUTAIRE : FR 87 878 637 859<br>
    France Patrimoine EMC - 16 avenue Joseph Cugnot 94420 LE PLESSIS-TRÉVISE - 01 56 31 31 63 - contact@france-patrimoine-emc.com
</div>