<div class="garanties-section">
    <div class="garanties-left">
        <div class="garantie-item">
            <div class="checkbox checked"></div>
            <span><strong>Garantie décennale « 10 ans »</strong></span>
        </div>
        <div class="garantie-item">
            <div class="checkbox checked"></div>
            <span><strong>Responsabilité civile 2 ans</strong></span>
        </div>
    </div>
    <div class="garanties-right">
        <div><strong>Suivi annuel :</strong> Offert</div>
        <div><strong>Frais de dossier :</strong> Offert</div>
    </div>
</div>