<div class="signature-box">
    <div class="signature-title">SIGNATURE DU CLIENT</div>
    <div class="signature-subtitle">Précédée de la mention "Bon pour accord"</div>
    <div class="signature-subtitle">Devis reçu avant l'exécution des travaux</div>
</div>